<div class="container">
  <div class="todo-app">
    <header class="todo-head bg-dark">
      <h1>Todos</h1>
    </header>
    <form class="input-group">
      <input type="text" id="addTask" placeholder="What do you need to do?" required>
      <i class="fa fa-plus btn btn-dark"></i>
    </form>
    <ul class="todo-content">
      <li class="todo-item" ng-repeat="todo in todos" ng-click="T.complete(todo)">
        <p><i class="fa" ng-class="{'fa-check-square': todo.complete, 'fa-square': !todo.complete}"></i>{{ todo.title }}</p>
      </li>
    </ul>
  </div>
</div>
